/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/
body {
	background-color: #add8e6;
	color: white;
	font-family: Montserrat;
	font-weight: 400;
}

img {
	width: 60%;
	height: auto;
	margin: 0 auto;
}

.head {
	font-family: Playfair Display;
	color: white;
	font-weight: 700;
	text-align: center;
}

.blurb {
	color: white;
	font-weight: 400;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.image-container {
	width: 60%;
	height: auto;
	margin: 0 auto;
	border-radius: 50%;
}

.img-circle {
	height: 310px;
    width: 310px;
    border-radius: 160px;
}

.bracket {
  background-image: linear-gradient(white, white),
                    linear-gradient(white, white),
                    linear-gradient(white, white),
                    linear-gradient(white, white);

  background-repeat: no-repeat;
  background-size: 20px 3px;
  padding: 15px;
                    
  background-position: top left, top right, bottom left, bottom right;

  border: solid white;
  border-width: 0 3px;
}

.twitter {
	width: 4%;
	margin: 0 auto;
	border-radius: 50%;
}

.resume h1 {
	font-family: Playfair Display;
	font-weight: 800;
	color: white;
	text-align: center;
	font-size: 100px;
}

.education h1 {
	font-family: Playfair Display;
	color: white;
	font-weight: 700;
	font-size: 28px;
	text-align: center;
}

.education {
	margin: 0 auto;
	width: 40%;
}

.experience h1 {
	font-family: Playfair Display;
	color: white;
	font-weight: 700;
	font-size: 28px;
	text-align: center;
}

.experience {
	margin: 0 auto;
	width: 40%;
}

.videos h1 {
	font-family: Playfair Display;
	color: white;
	font-weight: 700;
	font-size: 28px;
}

.videos {
	text-align: center;
	margin: 0 auto;
	width: 90%;
}

iframe {
	width: 90%;
}

.dbk h1 {
	font-family: Playfair Display;
	color: white;
	font-weight: 700;
	font-size: 28px;
}

.dbk {
	text-align: center;
}

.articles {
	margin: 0 auto;
	font-size: 18px;
	width: 50%;
}

.contact h1 {
	font-family: Playfair Display;
	color: white;
	font-weight: 700;
	font-size: 100px;
	text-align: center;
}

.contact h2 {
	font-family: Playfair Display;
	color: white;
	font-weight: 700;
	font-size: 28px;
}

.contact {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

@media (max-width: 768px) {
	.twitter {
		width: 11%;
		margin: 0 auto;
	}

	iframe {
		width: 100%;
	}

}

@media (max-width: 320px) {
	.img-circle {
		height: 200px;
		width: 200px;
	}

	.resume h1 {
		font-size: 75px;
	}

	.experience h1 {
		font-size: 20px;
	}
    
    .education {
    	width: 50%;
    }
    
    .experience {
   		width: 55%;

    }

    .videos {
    	width: 80%;
    }

    iframe {
    	width: 100%;
    }
    
    .contact h1 {
    	font-size: 50px;

    }

    .contact h2 { 
    	font-size: 20px;
    }

    .contact {
    	width: 60%;
    }

    .contact p {
    	font-size: 12px;
    }
}

@media (max-width: 375px) {
	.img-circle {
		height: 200px;
		width: 200px;
	}

	.resume h1 {
		font-size: 75px;
	}

	.experience h1 {
		font-size: 20px;
	}
    
    .education {
    	width: 50%;
    }
    
    .experience {
   		width: 55%;

    }

    .videos {
    	width: 80%;
    }

    iframe {
    	width: 100%;
    }
    
    .contact h1 {
    	font-size: 50px;

    }

    .contact h2 { 
    	font-size: 20px;
    }

    .contact {
    	width: 60%;
    }

    .contact p {
    	font-size: 12px;
    }
}

@media (max-width: 425px) {
		.img-circle {
		height: 200px;
		width: 200px;
	}

	.resume h1 {
		font-size: 75px;
	}

	.experience h1 {
		font-size: 20px;
	}
    
    .education {
    	width: 50%;
    }
    
    .experience {
   		width: 55%;

    }

    .videos {
    	width: 80%;
    }

    iframe {
    	width: 100%;
    }
    
    .contact h1 {
    	font-size: 50px;

    }

    .contact h2 { 
    	font-size: 20px;
    }

    .contact {
    	width: 60%;
    }

    .contact p {
    	font-size: 12px;
    }
}
